tensorflow-gpu==2.4.1
tensorflow-addons==0.12.1
tensorflow-probability==0.12.1
open3d==0.10.0.0
easydict
h5py
ipython
matplotlib==3.*
networkx==2.*
psutil
scikit-learn==0.22.*
scipy==1.*
tqdm
trimesh==3.*
pyvista==0.24.*
pydot
graphviz
opencv-python==4.*
pandas
scikit-learn==0.22.2
pyvista
scipy
